* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
.navbar {
    background-color: black;
    margin: 0%;
}
.navlist {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
}
.navlist a {
color: white;
} 
.navlist a:hover {
    color: aquamarine;
}
.container {
    display: flex;
}