* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
.navbar {
    background-color: black;
    margin: 0%;
}
.navlist {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
}
.navlist a {
color: white;
} 
.container {
    display: flex;
    justify-content:space-between ;
    padding: 30px; 
    background-color: gray;
    height: 750px;
}
.container a {
    color: black;
    font-size: 100px;
}
a:hover {
    color: aquamarine;
}